<app-nav-page-container [fab]="true" [headerButtons]="true" (fabAction)="openDialog('fieldNamePrompt')">
  <app-vertical-center class="header-buttons">
    <app-toggle-icon-button name="actions.reorder.start" toggledName="actions.reorder.stop" icon="fa-sort" [toggled]="reorder()" (toggle)="toggleReorder()" />
  </app-vertical-center>
  <main>
    @let fields = this.customFields();
    @if (fields) {
      <ul cdkDropList cdkDropListAutoScrollStep="20" [cdkDropListDisabled]="!reorder()" (cdkDropListDropped)="reorderFields($event)">
        @for (field of fields; track field.id) {
          <li cdkDrag class="flex mx-2 mt-2">
            <button type="button" class="grow flex justify-start btn btn-soft font-medium transition-none h-auto" (click)="gotoCustomField(field.id)">
              <app-vertical-center>
                <span class="text-left ml-1">
                  <p class="wrap-anywhere">{{field.name}}</p>
                  <p class="wrap-anywhere font-light text-base-content/60">{{'customFields.labels.type.' + field.dataType.toLowerCase() | translate}}</p>
                </span>
              </app-vertical-center>
            </button>
          </li>
        }
      </ul>
    } @else {
      <app-loading />
    }
  </main>
  <i class="fa fa-plus"></i>
</app-nav-page-container>

<app-popup-input dialogId="fieldNamePrompt" title="customFields.actions.create" label="fields.name" (submitValue)="createCustomField($event)" />
