@let frontHistory = this.frontHistory();

@if (frontHistory) {
  @for (frontEntry of frontHistory; track frontEntry.id) {
    <div class="border rounded-lg bg-base-100 p-2 mb-2">
      <app-historic-front-entry [frontEntry]="frontEntry" (update)="reloadFrontHistory()" />
    </div>
  }

  @let loadingMore = this.loadingMore();
  @let canLoadMore = this.canLoadMore();
  <button class="btn btn-soft w-full" [disabled]="loadingMore || !canLoadMore" (click)="loadFrontHistory()">
    @if (loadingMore) {
      <span class="loading loading-spinner"></span>
    }
    @if (canLoadMore) {
      {{'actions.loadMore' | translate}}
    } @else {
      {{'front.labels.history.noMoreEntries' | translate}}
    }
  </button>
} @else {
  <app-loading />
}

<div class="absolute bottom-0 w-full" style="max-width: calc(900px - var(--spacing) * 5)">
  <div class="fab absolute">
    <button class="btn btn-lg btn-circle btn-primary" (click)="openDialog('createFrontEntryPrompt')">
      <i class="fa fa-plus"></i>
    </button>
  </div>
</div>

<dialog id="createFrontEntryPrompt" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">{{'front.actions.changeTime' | translate}}</h3>
    <form method="dialog" class="w-full" (submit)="createFrontTime($event)">
      <fieldset class="fieldset">
        <legend class="fieldset-legend">{{'front.labels.startTime' | translate}}</legend>
        <input name="startTime" type="datetime-local" class="input w-full">
      </fieldset>
      <fieldset class="fieldset">
        <legend class="fieldset-legend">{{'front.labels.endTime' | translate}}</legend>
        <input name="endTime" type="datetime-local" class="input w-full">
      </fieldset>
      <button type="submit" class="mx-auto mt-5 block btn btn-success">{{'actions.confirm' | translate}}</button>
    </form>
  </div>
  <form method="dialog" class="modal-backdrop">
    <button></button>
  </form>
</dialog>
