@let frontHistory = this.frontHistory();

@if (frontHistory) {
  @for (frontEntry of frontHistory; track frontEntry.id) {
    <div class="border rounded-lg bg-base-100 p-2 mb-2">
      <div class="flex flex-row justify-between w-full">
        <span>{{formatDate(frontEntry.startedAt)}}</span>
        @if (frontEntry.endedAt) {
          <span>{{formatDate(frontEntry.endedAt)}}</span>
        }
      </div>
      <div class="mt-1.5 text-center">
        @if (frontEntry.endedAt) {
          {{getDuration(frontEntry.startedAt, frontEntry.endedAt)}}
        } @else {
          {{'front history entry ongoing' | translate}}
        }
      </div>
      @if (frontEntry.comment) {
        <div class="text-center">
          {{frontEntry.comment}}
        </div>
      }
    </div>
  }

  @let loadingMore = this.loadingMore();
  @let canLoadMore = this.canLoadMore();
  <button class="btn btn-soft w-full" [disabled]="loadingMore || !canLoadMore" (click)="loadFrontHistory()">
    @if (loadingMore) {
      <span class="loading loading-spinner"></span>
    }
    @if (canLoadMore) {
      {{'load more' | translate}}
    } @else {
      {{'no more front history entries' | translate}}
    }
  </button>
} @else {
  <app-loading />
}
