@let frontHistory = this.frontHistory();

@if (frontHistory) {
  @for (frontEntry of frontHistory; track frontEntry.id) {
    <div class="border rounded-lg bg-base-100 p-2 mb-2">
      <app-historic-front-entry [frontEntry]="frontEntry" />
    </div>
  }

  @let loadingMore = this.loadingMore();
  @let canLoadMore = this.canLoadMore();
  <button class="btn btn-soft w-full" [disabled]="loadingMore || !canLoadMore" (click)="loadFrontHistory()">
    @if (loadingMore) {
      <span class="loading loading-spinner"></span>
    }
    @if (canLoadMore) {
      {{'actions.loadMore' | translate}}
    } @else {
      {{'front.labels.history.noMoreEntries' | translate}}
    }
  </button>
} @else {
  <app-loading />
}
