<app-nav-page-container [headerButtons]="true">
  <app-vertical-center class="header-buttons">
    @if (syncRunning()) {
      <span class="loading loading-spinner loading-xl"></span>
    } @else if (syncPending()) {
      <app-icon-button name="sync now" icon="fa-cloud-upload" buttonClass="btn-danger" (action)="sync()" />
    }
  </app-vertical-center>
  <main>
    @let system = this.system();
    <div class="flex py-2 ml-2">
      <app-profile-picture [avatarUrl]="avatarUrl()" [fallbackIcon]="system ? 'fa-users' : 'fa-user'"/>
      <div class="inline-flex flex-col justify-center">
        <span class="ml-2 text-lg">{{username()}}</span>
      </div>
    </div>
    <div class="divider m-0"></div>
    <div class="w-full p-2 grid dynamic-grid gap-1">
      @if (system) {
        <app-dashboard-button name="members" icon="fa-users" link="members" />
        <app-dashboard-button name="front history" icon="fa-history" link="front-history" />
        <app-dashboard-button name="analytics" icon="fa-bar-chart" link="analytics" [disabled]="true" />
        <app-dashboard-button name="chat" icon="fa-commenting" link="chat" [disabled]="true" />
        <app-dashboard-button name="polls" icon="fa-check-square-o" link="polls" [disabled]="true" />
      }
      <app-dashboard-button name="friends" icon="fa-address-book" link="friends" />
      @if (system) {
        <app-dashboard-button name="privacy buckets" icon="fa-shield" link="privacy-buckets" />
        <app-dashboard-button name="custom fields" icon="fa-list-ul" link="custom-fields" />
      }
      <app-dashboard-button name="sessions" icon="fa-laptop" link="sessions" />
      <app-dashboard-button name="account settings" icon="fa-cog" link="account-settings" />
      <app-dashboard-button name="options" icon="fa-cogs" link="options" />
      <app-dashboard-button name="legal" icon="fa-gavel" link="legal" />
    </div>
  </main>
</app-nav-page-container>
