<div class="flex max-w-full grow justify-start btn btn-soft font-medium transition-none h-auto border-l-5 border-0 {{containerClass()}}"
     [class.inactive]="inactive()" [style]="'border-color: ' + cssColor()">
  <button type="button" class="flex grow text-left {{buttonClass()}}" (click)="selectable() ? toggleSelection() : action.emit()">
    <div class="grow flex">
      <ng-content></ng-content>
    </div>
    @if (selectable()) {
      <app-vertical-center>
        <input type="checkbox" class="checkbox" [checked]="selected()">
      </app-vertical-center>
    }
  </button>
  <ng-content select=".actions"></ng-content>
</div>
