@let editable = this.editable();
@let custom = this.custom();
<div>
  @if (!custom) {
    <app-toggle-icon-button name="folders.actions.show" toggledName="folders.actions.hide" icon="fa-folder" [toggled]="showFolders()" (toggle)="toggleShowFolders()" />
  }
  @if (editable) {
    <app-icon-button name="members.actions.create" icon="fa-user-plus" (action)="openDialog('memberNamePrompt')" />
  }
</div>
@let inFolder = currentFolder();
@let showingFolders = showFolders() && !custom;
@if (showingFolders) {
  <div class="flex justify-between">
    <span>
      @if (editable) {
        <app-icon-button name="folders.actions.create" [icon]="['fa-folder-o fa-stack-2x', 'fa-plus fa-stack-1x']" size="text-xs" [stack]="true" (action)="openDialog('folderNamePrompt')" />
      }
      @if (inFolder) {
        <app-icon-button name="folders.actions.goToRoot" icon="fa-arrow-up" (action)="changeCurrentFolder(null)" />
        <app-icon-button name="folders.actions.goToParent" icon="fa-arrow-left" (action)="gotoParentFolder()" />
      }
    </span>
    @if (inFolder && editable) {
      <span>
        <app-icon-button name="folders.actions.assignMembers" [icon]="['fa-folder-o fa-stack-2x', 'fa-users fa-stack-1x']" size="text-xs" [stack]="true" (action)="assignMembers.set(true)" />
        <app-icon-button name="folders.actions.edit" icon="fa-cog" (action)="editFolder()" />
      </span>
    }
  </div>
}
<div class="divider my-0"></div>
@if (showingFolders) {
  <p class="ml-2 text-md font-medium">{{currentPath()}}</p>
}
<div class="grow overflow-y-auto pb-10">
  @if (showingFolders) {
    @for (folder of shownFolders(); track folder.id) {
      <app-folder-list-item [folder]="folder" (action)="changeCurrentFolder(folder.id)" />
    }
  }
  @for (member of shownMembers(); track member.id) {
    <app-member-list-item [member]="member" [editable]="editable" (action)="selectMember.emit(member.id)" />
  }
</div>

@if (editable) {
  <app-popup-input dialogId="memberNamePrompt" title="members.actions.create" label="fields.name" (submitValue)="createMember($event)" />
  <app-popup-input dialogId="folderNamePrompt" title="folders.actions.create" label="fields.name" (submitValue)="createFolder($event)" />

  @if (assignMembers() && inFolder) {
    <app-member-selector dialogId="folderAssignMembers" title="folders.actions.assignMembers" [selection]="folderMembers()"
                         [custom]="false" (submitSelection)="assignFolderMembers($event)" (forceClose)="assignMembers.set(false)" />
  }
}
