@let frontHistory = this.frontHistory();

@if (frontHistory) {
  @for (frontEntry of frontHistory; track frontEntry.id) {
    @let member = getMember(frontEntry.member);
    @if (member) {
      <app-member-list-item [member]="member" [editable]="false" [inactive]="true" />
    }
    <div class="border-x border-b rounded-b-lg bg-base-100 p-2 mb-2 mx-4">
      <div class="flex flex-row justify-between w-full">
        <span>{{formatDate(frontEntry.startedAt)}}</span>
        @if (frontEntry.endedAt) {
          <span>{{formatDate(frontEntry.endedAt)}}</span>
        }
      </div>
      <div class="mt-1.5 text-center">
        @if (frontEntry.endedAt) {
          {{getDuration(frontEntry.startedAt, frontEntry.endedAt)}}
        } @else {
          {{'front.labels.history.ongoing' | translate}}
        }
      </div>
      @if (frontEntry.comment) {
        <div class="text-center">
          {{frontEntry.comment}}
        </div>
      }
    </div>
  }

  @let loadingMore = this.loadingMore();
  @let canLoadMore = this.canLoadMore();
  <button class="btn btn-soft w-full" [disabled]="loadingMore || !canLoadMore" (click)="loadFrontHistory()">
    @if (loadingMore) {
      <span class="loading loading-spinner"></span>
    }
    @if (canLoadMore) {
      {{'actions.loadMore' | translate}}
    } @else {
      {{'front.labels.history.noMoreEntries' | translate}}
    }
  </button>
} @else {
  <app-loading />
}
