<app-nav-page-container>
  <main>
    <div class="p-5">
      @let settings = this.settings();
      <fieldset class="fieldset">
        <legend class="fieldset-legend">{{'options.labels.defaultPage' | translate}}</legend>
        <select class="w-full select" (change)="updateDefaultPage($event)">
          @for (route of appRoutes(); track route.path) {
            <option [value]="route.path" [selected]="route.path === settings.defaultRoute">{{route.data!['name'] | translate}}</option>
          }
        </select>
      </fieldset>

      <fieldset class="fieldset">
        <legend class="fieldset-legend">{{'fields.language' | translate}}</legend>
        <select class="w-full select" (change)="updateLanguage($event)">
          @for (lang of getLanguages(); track lang.id) {
            <option [value]="lang.id" [selected]="lang.id === settings.language">{{lang.name}}</option>
          }
        </select>
      </fieldset>

      <fieldset class="fieldset">
        <legend class="fieldset-legend">{{'options.labels.dateFormat' | translate}}</legend>
        <span class="text-base-content/60">{{'options.labels.dateFormatExample' | translate}}</span>
        <select class="w-full select" (change)="updateDateFormat($event)">
          <option value="yyyy-MM-dd" [selected]="settings.dateFormat === 'yyyy-MM-dd'">2024-11-01</option>
          <option value="yyyy/MM/dd" [selected]="settings.dateFormat === 'yyyy/MM/dd'">2024/11/01</option>
          <option value="MM/dd/yyyy" [selected]="settings.dateFormat === 'MM/dd/yyyy'">11/01/2024</option>
          <option value="dd/MM/yyyy" [selected]="settings.dateFormat === 'dd/MM/yyyy'">01/11/2024</option>
          <option value="yyyy.MM.dd" [selected]="settings.dateFormat === 'yyyy.MM.dd'">2024.11.01</option>
          <option value="dd.MM.yyyy" [selected]="settings.dateFormat === 'dd.MM.yyyy'">01.11.2024</option>
        </select>
      </fieldset>

      <fieldset class="fieldset">
        <legend class="fieldset-legend">{{'options.labels.timeFormat' | translate}}</legend>
        <div class="join flex flex-row">
          <button class="btn join-item flex-1" [class.btn-outline]="settings.time24Hours" [class.btn-accent]="!settings.time24Hours"
                  (click)="toggleSetting('time24Hours', false)">
            {{'options.labels.timeFormat12' | translate}}
          </button>
          <button class="btn join-item flex-1" [class.btn-outline]="!settings.time24Hours" [class.btn-accent]="settings.time24Hours"
                  (click)="toggleSetting('time24Hours', true)">
            {{'options.labels.timeFormat24' | translate}}
          </button>
        </div>
      </fieldset>

      <div class="divider">{{'options.titles.general' | translate}}</div>
      <app-toggle-setting name="options.labels.loadAvatars" [toggled]="settings.loadAvatars" (toggle)="toggleSetting('loadAvatars', $event)" />
      <app-toggle-setting name="options.labels.useNativeColorPicker" [toggled]="settings.useNativeColorPicker" (toggle)="toggleSetting('useNativeColorPicker', $event)" />
      <app-toggle-setting name="options.labels.showSyncToast" [toggled]="settings.showSyncToast" (toggle)="toggleSetting('showSyncToast', $event)" />
      <app-toggle-setting name="options.labels.useNavMenu" [toggled]="settings.useNavMenu" (toggle)="toggleSetting('useNavMenu', $event)" />

      <div class="divider">{{'options.titles.member' | translate}}</div>
      <app-toggle-setting name="options.labels.customSortEditor" [toggled]="settings.customSortEditor" (toggle)="toggleSetting('customSortEditor', $event)" />

      <div class="divider">{{'options.titles.group' | translate}}</div>
      <app-toggle-setting name="options.labels.hideRootMembers" [toggled]="settings.hideRootMembers" (toggle)="toggleSetting('hideRootMembers', $event)" />

      <div class="divider">{{'options.titles.notification' | translate}}</div>
      @if (Notification) {
        <button class="btn btn-accent w-full" (click)="requestNotificationPermissions()">
          {{'options.actions.requestNotificationPermissions' | translate}}
          @switch (Notification.permission) {
            @case ('granted') {
              <div class="badge badge-soft badge-success btn-circle">
                <i class="fa fa-check"></i>
              </div>
            }
            @case ('denied') {
              <div class="badge badge-soft badge-error btn-circle">
                <i class="fa fa-times"></i>
              </div>
            }
          }
        </button>
        @if (Notification.permission === 'granted') {
          <app-toggle-setting name="options.labels.currentFrontNotify" [toggled]="settings.currentFrontNotify" (toggle)="toggleSetting('currentFrontNotify', $event)" />
        }
      } @else {
        <div class="text-center">
          <div class="h-fit badge badge-soft badge-error">
            <i class="fa fa-exclamation-triangle"></i>
            {{'options.labels.notificationsUnsupported' | translate}}
          </div>
        </div>
      }
    </div>
  </main>
</app-nav-page-container>
