@let user = this.user();
<app-popup-page-container [footer]="user ? user.user.system : false" [title]="user ? user.user.name : ''">
  <app-vertical-center class="header-buttons">
    <app-icon-button name="navigation.friendSettings" icon="fa-cog" (click)="gotoFriendSettings()" />
  </app-vertical-center>
  @let tab = selectedTab();
  <main>
    @if (user) {
      @if (tab === 'account') {
        <div class="m-4 flex flex-col items-center space-y-2">
          <app-profile-picture [avatarUrl]="user.user.avatar" size="w-48" fallbackSize="fa-5x" [fallbackIcon]="user.user.system ? 'fa-users' : 'fa-user'" [roundPfp]="false" />
          @if (user.user.description) {
            <app-markdown-box class="w-full sm:w-2/3" textareaName="description" [markdown]="user.user.description || ''" [editable]="false" />
          }
        </div>
        @if (user.user.system) {
          <div class="divider">{{'friends.labels.fronters' | translate}}</div>
          @if (user.front) {
            <div class="px-5">
              @if (user.front.length === 0) {
                <div class="text-center font-light">
                  {{'front.labels.empty' | translate}}
                </div>
              } @else {
                @for (frontEntry of user.front; track frontEntry.id) {
                  @let member = findMember(user, frontEntry.member);
                  @if (member) {
                    <app-member-list-item [member]="member" [editable]="false" (action)="gotoMemberPage(member.id)" />
                    @if (frontEntry.comment) {
                      <div class="text-center mb-1">
                        {{frontEntry.comment}}
                      </div>
                    }
                  }
                }
              }
            </div>
          } @else {
            <div class="text-center">
              {{'friends.labels.permission.denied.front' | translate}}
            </div>
          }
        }
      } @else if (tab === 'members') {
        @if (user.folders && user.members) {
          <app-member-folder-view [friendId]="user.user.id" [folders]="user.folders" [members]="user.members" [searchQuery]="searchQuery()" [archived]="false" [editable]="false" [custom]="false" (selectMember)="gotoMemberPage($event)" />
        } @else {
          <div class="text-center mt-5">
            {{'friends.labels.permission.denied.members' | translate}}
          </div>
        }
      }
    } @else {
      <app-loading />
    }
  </main>
  <footer class="h-16">
    <app-vertical-center>
      <app-pager [currentPage]="tab" justify="justify-between">
        <app-toggle-icon-button name="navigation.account" icon="fa-id-card-o" size="fa-lg" [toggled]="tab === 'account'" (toggle)="gotoTab('account')" />
        <app-toggle-icon-button name="navigation.members" icon="fa-users" size="fa-lg" [toggled]="tab === 'members'" (toggle)="gotoTab('members')" />
      </app-pager>
    </app-vertical-center>
  </footer>
</app-popup-page-container>
