@let f = folder();
<app-list-item containerClass="mx-2 mt-2" buttonClass="py-2" [color]="f.color" [selectable]="selectable()" [selected]="selected()" (selectionStatus)="selectionStatus.emit($event)" (action)="action.emit()">
  <app-vertical-center>
    @if (f.emoji) {
      <span class="mx-1 text-2xl">{{f.emoji}}</span>
    } @else {
      <i class="mx-1.5 fa fa-2x fa-folder" aria-hidden="true"></i>
    }
  </app-vertical-center>
  <app-vertical-center class="grow">
    <span class="ml-3">{{f.name}}</span>
  </app-vertical-center>
  @if (f.description) {
    <app-vertical-center class="actions">
      <app-icon-button name="folders.actions.viewDescription" icon="fa-question-circle" (action)="openDialog('folderViewDescription-' + f.id)" />
    </app-vertical-center>
  }
</app-list-item>

@if (f.description) {
  <dialog [id]="'folderViewDescription-' + f.id" class="modal">
    <app-markdown-box class="modal-box" textareaName="description" [markdown]="f.description" [editable]="false" [useTextarea]="false" />
    <form method="dialog" class="modal-backdrop">
      <button></button>
    </form>
  </dialog>
}
