<app-nav-page-container [fab]="true" [headerButtons]="true" (fabAction)="openDialog('bucketNamePrompt')">
  <app-vertical-center class="header-buttons">
    <app-toggle-icon-button name="actions.reorder.start" toggledName="actions.reorder.stop" icon="fa-sort" [toggled]="reorder()" (toggle)="toggleReorder()" />
  </app-vertical-center>
  <main>
    @let buckets = this.buckets();
    @if (buckets) {
      <ul cdkDropList [cdkDropListDisabled]="!reorder()" (cdkDropListDropped)="reorderBuckets($event)">
        @for (bucket of buckets; track bucket.id) {
          <li cdkDrag class="h-full">
            <app-privacy-bucket-list-item [bucket]="bucket" (action)="gotoPrivacyBucket(bucket.id)" />
          </li>
        }
      </ul>
    } @else {
      <app-loading />
    }
  </main>
  <i class="fa fa-plus"></i>
</app-nav-page-container>

<app-popup-input dialogId="bucketNamePrompt" title="privacyBuckets.actions.create" label="fields.name" (submitValue)="createBucket($event)" />
