<div class="text-center border rounded-xl p-4 w-fit mx-auto">
  <a class="underline" href="https://webbiii.cc/legal/impressum.html" target="_blank">Impressum</a> |
  <a class="underline" href="https://webbiii.cc/legal/legal-notice.html" target="_blank">Legal Notice</a> |
  <a class="underline" href="https://openplural.webbiii.cc/legal/privacy-policy.html" target="_blank">Privacy Policy</a> |
  <a class="underline" href="https://openplural.webbiii.cc/legal/terms-of-service.html" target="_blank">Terms of Service</a>
</div>
