@let frontEntry = this.frontEntry();
@if (graphical()) {
  @let member = this.member()!;
  @if (graphicalResized()) {
    <div class="absolute w-2 h-2 rounded-full bg-white"
         [style.left.px]="column()! * 55 + 8"
         [style.top.px]="actualRow()! + 8">
    </div>
    <div class="absolute w-1 rounded-xl bg-white"
         [style.left.px]="column()! * 55 + 10"
         [style.top.px]="actualRow()! + 8"
         [style.height.px]="actualHeight()!">
    </div>
    <div class="absolute w-2 h-2 rounded-full bg-white"
         [style.left.px]="column()! * 55 + 8"
         [style.top.px]="actualRow()! + actualHeight()!">
    </div>
  }
  <div class="absolute w-6 rounded-xl"
       [style.left.px]="column()! * 55 + 25"
       [style.top.px]="row()! + 16"
       [style.height.px]="height()! - 8"
       [style.background-color]="toColor(member.color)"
       (click)="selectEntry($event)">
    <app-profile-picture [avatarUrl]="member.avatar" size="w-10 -mt-2 -ml-2"/>
  </div>

  @if (selected()) {
    <div class="absolute z-10 p-2 bg-base-100 rounded-xl"
         [style.left.px]="column()! * 45 + 30"
         [style.top.px]="row()! + 35">
      <div class="flex gap-2">
        <app-profile-picture [avatarUrl]="member.avatar" size="w-10"/>
        <app-vertical-center>
          <span>{{member.name}}</span>
        </app-vertical-center>
      </div>
      <div class="divider my-0"></div>
      <div class="text-center text-nowrap">
        {{formatDate(frontEntry.startedAt)}}
        <div class="w-full">
          <i class="fa fa-caret-down"></i>
        </div>
        @if (frontEntry.endedAt) {
          {{formatDate(frontEntry.endedAt)}}
          <div>({{getDuration(frontEntry.startedAt, frontEntry.endedAt)}})</div>
        } @else {
          …
        }
      </div>
      <div class="divider my-0"></div>
      <div class="w-full flex justify-around">
        <app-icon-button name="front.actions.changeTime" icon="fa-clock-o" buttonClass="text-accent" (action)="openDialog('historicFrontTimePrompt-' + frontEntry.id)" />
        <app-icon-button name="front.actions.delete" icon="fa-trash" buttonClass="text-error" (action)="openDialog('historicFrontDeletePrompt-' + frontEntry.id)" />
      </div>
    </div>
  }
} @else {
  <div class="flex flex-row justify-between w-full">
    <span>{{formatDate(frontEntry.startedAt)}}</span>
    <span class="max-[500px]:hidden">
    <app-icon-button name="front.actions.changeTime" icon="fa-clock-o" buttonClass="text-accent" (action)="openDialog('historicFrontTimePrompt-' + frontEntry.id)" />
    <app-icon-button name="front.actions.delete" icon="fa-trash" buttonClass="text-error" (action)="openDialog('historicFrontDeletePrompt-' + frontEntry.id)" />
  </span>
    @if (frontEntry.endedAt) {
      <span>{{formatDate(frontEntry.endedAt)}}</span>
    }
  </div>
  <div class="text-center">
    @if (frontEntry.endedAt) {
      {{getDuration(frontEntry.startedAt, frontEntry.endedAt)}}
    } @else {
      {{'front.labels.history.ongoing' | translate}}
    }
  </div>
  @if (frontEntry.comment) {
    <div class="text-center">
      {{frontEntry.comment}}
    </div>
  }
  <div class="text-center min-[500px]:hidden">
    <app-icon-button name="front.actions.changeTime" icon="fa-clock-o" buttonClass="text-accent" (action)="openDialog('historicFrontTimePrompt-' + frontEntry.id)" />
    <app-icon-button name="front.actions.delete" icon="fa-trash" buttonClass="text-error" (action)="openDialog('historicFrontDeletePrompt-' + frontEntry.id)" />
  </div>
}

<app-popup-confirm [dialogId]="'historicFrontDeletePrompt-' + frontEntry.id" title="front.actions.delete" (confirm)="deleteFrontEntry()">
  {{'front.prompts.delete' | translate }}
</app-popup-confirm>

<dialog [id]="'historicFrontTimePrompt-' + frontEntry.id" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">{{'front.actions.changeTime' | translate}}</h3>
    <form method="dialog" class="w-full" (submit)="updateFrontTime($event)">
      <fieldset class="fieldset">
        <legend class="fieldset-legend">{{'front.labels.startTime' | translate}}</legend>
        <input name="startTime" type="datetime-local" class="input w-full" [value]="startTimeValue()">
      </fieldset>
      @let endTimeValue = this.endTimeValue();
      @if (endTimeValue) {
        <fieldset class="fieldset">
          <legend class="fieldset-legend">{{'front.labels.endTime' | translate}}</legend>
          <input name="endTime" type="datetime-local" class="input w-full" [value]="endTimeValue">
        </fieldset>
      }
      <button type="submit" class="mx-auto mt-5 block btn btn-success">{{'actions.confirm' | translate}}</button>
    </form>
  </div>
  <form method="dialog" class="modal-backdrop">
    <button></button>
  </form>
</dialog>
