@let account = this.account();
@if (account) {
  @let avatarUrl = this.avatarUrl();
  <app-edit-page-container [title]="account.user.name" (save)="save()" (delete)="openDialog('accountDeletePrompt')">
    <div class="p-5 pb-0">
      <div class="mx-auto my-2 w-fit cursor-pointer">
        <app-profile-picture [avatarUrl]="avatarUrl || account.user.avatar" size="w-48" fallbackSize="fa-5x"
                             [fallbackIcon]="account.user.system ? 'fa-users' : 'fa-user'" [roundPfp]="false" (click)="openDialog('accountAvatarPrompt')" />
      </div>
      <form id="accountForm">
        <fieldset class="fieldset">
          <legend class="fieldset-legend">{{'name' | translate}}</legend>
          <input name="name" type="text" class="w-full input" [value]="account.user.name" (input)="onUpdate()" />
        </fieldset>
        <fieldset class="fieldset">
          <legend class="fieldset-legend">{{'email' | translate}}</legend>
          <input name="email" type="email" class="w-full input" [value]="account.user.email" (input)="onUpdate()" />
        </fieldset>
        <fieldset class="fieldset">
          <legend class="fieldset-legend">{{'description' | translate}}</legend>
          <app-markdown-box class="w-full" textareaName="description" [markdown]="description()" [editable]="true" (markdownChange)="descriptionChanged($event)" />
        </fieldset>
        <fieldset class="fieldset">
          <legend class="fieldset-legend">{{'color' | translate}}</legend>
          <app-color-input dialogId="accountColorPicker" [initialValue]="account.user.color" [editable]="true" (selectColor)="colorSelected($event)" />
        </fieldset>
      </form>
      <app-toggle-setting name="account system" [toggled]="account.user.system" (toggle)="setSystem($event)" />
    </div>
    <div class="divider"></div>
    <div class="text-center">
      <span class="font-bold">{{'friend code' | translate}}</span>
      <div class="mt-2 mb-5">
        @if (showFriendCode()) {
          <span>{{account.friendCode}}</span>
        } @else {
          <button class="btn btn-soft" (click)="showFriendCode.set(true)">
            <i class="fa fa-eye"></i>
            {{'unhide' | translate}}
          </button>
        }
      </div>
      <span class="font-bold">{{'account creation date' | translate}}</span>
      <div class="mt-2">
        @if (showCreationDate()) {
          <span>{{accountCreationDate()}}</span>
        } @else {
          <button class="btn btn-soft" (click)="showCreationDate.set(true)">
            <i class="fa fa-eye"></i>
            {{'unhide' | translate}}
          </button>
        }
      </div>
    </div>
    <div class="divider"></div>
    <div class="mx-5 mb-5">
      <button class="w-full btn btn-soft" (click)="openDialog('changePasswordPrompt')">
        <i class="fa fa-key"></i>
        {{'change password' | translate}}
      </button>
    </div>
  </app-edit-page-container>
  <app-popup-input dialogId="accountAvatarPrompt" title="change avatar" label="avatar url" [initialValue]="avatarUrl || account.user.avatar || ''" (submitValue)="editAvatar($event)" />
  <app-popup-confirm dialogId="accountDeletePrompt" title="delete account" [confirmations]="10" (confirm)="openDialog('accountDeletePasswordPrompt')">
    {{'delete account prompt' | translate:{ accountName: account.user.name } }}
  </app-popup-confirm>
  <app-popup-input dialogId="accountDeletePasswordPrompt" title="delete account" label="password" inputType="password" (submitValue)="deleteAccount($event)" />
  <dialog id="changePasswordPrompt" class="modal" (close)="resetPasswordDialog()">
    <div class="modal-box">
      <h3 class="text-lg font-bold">{{'change password' | translate}}</h3>
      <form id="changePasswordForm" method="dialog" class="w-full" (submit)="changePassword($event)">
        <fieldset class="fieldset">
          <legend class="fieldset-legend">{{'old password' | translate}}</legend>
          <input name="oldPassword" type="password" class="input w-full">
        </fieldset>
        <fieldset class="fieldset">
          <legend class="fieldset-legend">{{'new password' | translate}}</legend>
          <input name="newPassword" type="password" class="input w-full">
        </fieldset>
        <fieldset class="fieldset">
          <legend class="fieldset-legend">{{'confirm password' | translate}}</legend>
          <input id="passwordConfirmation" name="confirmPassword" type="password" class="input w-full">
        </fieldset>
        <button type="submit" class="mx-auto mt-5 block btn btn-success">{{'confirm' | translate}}</button>
      </form>
    </div>
    <form method="dialog" class="modal-backdrop">
      <button></button>
    </form>
  </dialog>
  <dialog id="accountError" class="modal">
    <div class="modal-box">
      <h3 class="text-lg text-error font-bold">{{'account error' | translate}}</h3>
      <p class="py-4 text-error">
        {{accountError() | translate}}
      </p>
      <div class="modal-action">
        <form method="dialog">
          <button class="btn btn-ghost">
            {{'close' | translate}}
          </button>
        </form>
      </div>
    </div>
    <form method="dialog" class="modal-backdrop">
      <button></button>
    </form>
  </dialog>
} @else {
  <app-loading />
}
