@let editing = this.editing();

<div class="text-right -mt-5">
  <app-icon-button name="members.actions.editCustomFields" [icon]="editing ? 'fa-check' : 'fa-pencil'" buttonClass="btn-accent" (click)="toggleEdit()" />
</div>

@for (fieldValue of customFieldValuePairs(); track fieldValue.field.id) {
  @if (editing || fieldValue.value) {
    <app-custom-field-value [field]="fieldValue.field" [value]="fieldValue.value" [editable]="editing"
                            (changeValue)="changeValue(fieldValue.field, $event)"
                            (clearValue)="clearValue(fieldValue.field, fieldValue.value)" />
  }
}
