@let member = this.member();
@if (member) {
  <app-edit-page-container [title]="member.name" (save)="save()" (delete)="openDialog('memberDeletePrompt')">
    @let tab = selectedTab();
    <app-pager [currentPage]="tab" placement="top-29" rounding="rounded-b-lg" justify="justify-between">
      <app-toggle-icon-button name="profile" icon="fa-user" size="fa-lg" [toggled]="tab === 'profile'" (toggle)="selectedTab.set('profile')" />
      @if (!member.custom) {
        <app-toggle-icon-button name="custom fields" icon="fa-list-ul" size="fa-lg" [toggled]="tab === 'custom fields'" (toggle)="selectedTab.set('custom fields')" />
        <app-toggle-icon-button name="message board" icon="fa-comments" size="fa-lg" [disabled]="true" [toggled]="tab === 'message board'" (toggle)="selectedTab.set('message board')" />
      }
      <app-toggle-icon-button name="front history" icon="fa-history" size="fa-lg" [toggled]="tab === 'front history'" (toggle)="selectedTab.set('front history')" />
      @if (!member.custom) {
        <app-toggle-icon-button name="notes" icon="fa-sticky-note" size="fa-lg" [disabled]="true" [toggled]="tab === 'notes'" (toggle)="selectedTab.set('notes')" />
      }
      <app-toggle-icon-button name="options" icon="fa-cog" size="fa-lg" [toggled]="tab === 'options'" (toggle)="selectedTab.set('options')" />
    </app-pager>
    <div class="scroll-container flex flex-col">
      <div class="mt-5 p-5 overflow-y-auto">
        @switch (tab) {
          @case ('profile') {
            <app-member-profile-page [member]="member" [folders]="folders()" [editable]="true" [editSelectableFolders]="allFolders()"
                                     (updateMember)="updatedMemberProfile.set($event)"
                                     (updateFolders)="updatedMemberFolders.set($event)" />
          }
          @case ('custom fields') {
            <app-member-custom-fields-page [member]="member"
                                           (fieldUpdates)="updatedCustomFieldData.set($event)"
                                           (editingData)="editingCustomFieldData.set($event)" />
          }
          @case ('front history') {
            <app-member-front-history-page [member]="member" />
          }
          @case ('options') {
            <app-member-options-page [member]="member" (updateArchived)="updatedArchived.set($event)" />
          }
        }
      </div>
    </div>
  </app-edit-page-container>
  <app-popup-confirm dialogId="memberDeletePrompt" title="delete member" (confirm)="delete()">
    {{'delete member prompt' | translate:{ memberName: member.name } }}
  </app-popup-confirm>
} @else {
  <app-misrouted />
}
