@let member = this.member();
@if (member) {
  @let tab = selectedTab();
  <app-edit-page-container [title]="member.name" (save)="save()" (delete)="openDialog('memberDeletePrompt')">
    <app-pager [currentPage]="tab" placement="top-29" rounding="rounded-b-lg" justify="justify-between">
      <app-toggle-icon-button name="navigation.profile" icon="fa-user" size="fa-lg" [toggled]="tab === 'profile'" (toggle)="selectedTab.set('profile')" />
      @if (!member.custom) {
        <app-toggle-icon-button name="navigation.customFields" icon="fa-list-ul" size="fa-lg" [toggled]="tab === 'customFields'" (toggle)="selectedTab.set('customFields')" />
        <app-toggle-icon-button name="navigation.messageBoard" icon="fa-comments" size="fa-lg" [disabled]="true" [toggled]="tab === 'messageBoard'" (toggle)="selectedTab.set('messageBoard')" />
      }
      <app-toggle-icon-button name="navigation.frontHistory" icon="fa-history" size="fa-lg" [toggled]="tab === 'frontHistory'" (toggle)="selectedTab.set('frontHistory')" />
      @if (!member.custom) {
        <app-toggle-icon-button name="navigation.notes" icon="fa-sticky-note" size="fa-lg" [disabled]="true" [toggled]="tab === 'notes'" (toggle)="selectedTab.set('notes')" />
      }
      <app-toggle-icon-button name="navigation.options" icon="fa-cog" size="fa-lg" [toggled]="tab === 'options'" (toggle)="selectedTab.set('options')" />
    </app-pager>
    <div class="scroll-container flex flex-col">
      <div class="pt-10 p-5 overflow-y-auto">
        @switch (tab) {
          @case ('profile') {
            <app-member-profile-page [member]="member" [folders]="folders()" [editable]="true" [editSelectableFolders]="allFolders()"
                                     (updateMember)="updatedMemberProfile.set($event)"
                                     (updateFolders)="updatedMemberFolders.set($event)" />
          }
          @case ('customFields') {
            <app-member-custom-fields-page [member]="member"
                                           (fieldUpdates)="updatedCustomFieldData.set($event)"
                                           (editingData)="editingCustomFieldData.set($event)" />
          }
          @case ('frontHistory') {
            <app-member-front-history-page [member]="member" />
          }
          @case ('options') {
            <app-member-options-page [member]="member" (updateArchived)="updatedArchived.set($event)" />
          }
        }
      </div>
    </div>
  </app-edit-page-container>

  @if (tab === 'frontHistory') {
    <div class="absolute bottom-0 w-full" style="max-width: calc(900px - var(--spacing) * 5)">
      <div class="fab absolute">
        <button class="btn btn-lg btn-circle btn-primary" (click)="openDialog('createFrontEntryPrompt')">
          <i class="fa fa-plus"></i>
        </button>
      </div>
    </div>
  }

  <app-popup-confirm dialogId="memberDeletePrompt" title="members.actions.delete" (confirm)="delete()">
    {{'members.prompts.delete' | translate:{ memberName: member.name } }}
  </app-popup-confirm>
} @else {
  <app-misrouted />
}
